body {
  padding-top: 70px;
  padding-bottom: 30px;
}

a,
a:visited,
a:hover,
a:active {
  color: #00003f;
}

.portrait img {
  max-height: 164px;
}
.portrait {
  text-align: center;
}

.label-grey {
  background-color: #777;
}
.label-grey[href]:focus, .label-grey[href]:hover {
  background-color: #5e5e5e;
}
.label-blue {
  background-color: #337ab7;
}
.label-blue[href]:focus, .label-blue[href]:hover {
  background-color: #286090;
}
.label-green {
  background-color: #5cb85c;
}
.label-green[href]:focus, .label-green[href]:hover {
  background-color: #449d44;
}
.label-sky {
  background-color: #5bc0de;
}
.label-sky[href]:focus, .label-sky[href]:hover {
  background-color: #31b0d5;
}
.label-orange {
  background-color: #f0ad4e;
}
.label-orange[href]:focus, .label-orange[href]:hover {
  background-color: #ec971f;
}
.label-red {
  background-color: #8b0000;
}
.label-red[href]:focus, .label-red[href]:hover {
  background-color: #ff4500;
}
.label-grey,
.label-blue,
.label-green,
.label-sky,
.label-orange,
.label-red {
  font-size: 1.25em;
  line-height: 2em;
}
.info ul {
  -webkit-padding-start: 8px;
}
.details ul {
  list-style-type: circle;
}
ul.skills {
  list-style-type: none;
}
.info ul li {
  background-repeat: no-repeat;
  background-position: 0 .1em;
  line-height: 25px;
  display: block;
  margin-top: -2px;
  padding-left: 28px;
}
.info.left ul li {
  padding-left: 26px;
}
ul.skills li {
  float: left;
  margin: 2px 6px;
}
.info ul li.ad {
  background-image: url('images/icn-ad.gif');
  height: auto;
  margin-bottom: 4px;
}
.info ul li.mail {
  background-image: url('images/icn-mail.gif');
}
.info ul li.tel {
  background-image: url('images/icn-tel.gif');
}
.info ul li.web {
  background-image: url('images/icn-web.gif');
}
article.content nav {
  font-style: italic;
  text-align: right;
  color: #104060;
}
nav header {
  font-weight: bold;
  font-style: normal;
}
.content.row,
.presentation.row {
  margin-bottom: 12px;
}
.content.row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.label {
  color: #f2f2f2;
}
a.label:focus,
a.label:hover {
  color: #000;
}
.label a,
.badge a {
  color: inherit;
}

.jumbotron p {
  text-align: justify;
}
h1.super-title,
h2.super-title,
h1.title,
h2.title {
  color: #104060;
  text-transform: uppercase;
}
h1.title,
h2.title {
  overflow: hidden;
/*
  text-overflow: ellipsis;
  white-space: nowrap;
 */
}
#back-to-top {
  position: relative;
  float: right;
/*
  position: fixed;
  bottom: 0px;
 */
  right: 60px;
  width: 5em;
  height: 5em;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 1px #dde0e5;
  border-radius: 2px 2px 0 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#back-to-top a {
  visibility: hidden;
}
#back-to-top a:before {
  visibility: visible;
  position: relative;
  display: inline-block;
  left: 1.5em;
  top: 2em;
  vertical-align: top;
  width: 1em;
  height: 1em;
  content: '';
  border-color: #7c8699;
  border-style: solid;
  border-width: 0.45em 0.45em 0 0;
  transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
