body {
  margin-top: 0;
  padding-top: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: white;
  font-size: 13pt;
  line-height: 17pt;
}

.clear {
  clear: both;
}

a, a:hover, a:visited, a:active {
  color: #000010;
  text-decoration: none;
}

#wrapper, .wrapper-mid {
  background: none;
}

.wrapper-top, .wrapper-bottom {
  display: none;
}

#paper {
  width: 820px;
  margin: 0 auto;
}

.paper-top, .paper-bottom {
  display: none;
}

#paper-mid {
  width: 820px;
  margin: 0 auto;
  background-color: #FFF;
  display: block;
  padding: 7px 0 75px;
  overflow: hidden;
}

.entry {
  width: 820px;
  display: block;
  padding-top: 96px;
  clear: both;
}

.entry.first {
  padding-top: 0;
}

.entry .section.fr {
  margin-top: 20px;
}

h1 {
  width: 500px;
  font-size: 35pt;
  line-height: normal;
  color: black; /*#000010;*/
  margin: 0;
  text-transform: uppercase;
}

h1.section {
  clear: both;
  width: 720px;
  height: 42pt;
}

h1.section.fr {
  width: 740px;
  font-size: 33pt;
}

h1 span {
  font-size: 21pt;
  display: block;
  margin-top: 20px;
  color: black; /*#000010;*/
  width: 350px;
  text-transform: none;
}

h2 {
  width: 224px;
  height: 23px;
  text-align: right;
  float: left;
  padding: 0;
  margin: 0 0 -12px;
  clear: both;
  font-size: 22pt;
  color: #000010;
  text-transform: uppercase;
  line-height: normal;
}

.entry h2 {
  line-height: 32px;
  height: 36px;
}

article mark {
  background-color: inherit;
  text-transform: uppercase;
}

article mark, article details, article main, p {
  float: right;
  margin: 0 0 0 24px;
  width: 530px;
}

ul.list {
  clear: both;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul.list li {
  display: block;
  float: right;
  padding-top: 32px;
}

h3 {
  padding: 0;
  margin: 0;
  color: black;
}

nav h3 {
  font-size: 11pt;
}

em {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: #555;
  font-size: 12pt;
  display: block;
  padding-top: 0;
}

ul.info {
  float: right;
  width: 600px;
  margin-left: 40px;
  background: none;
  list-style: square;
}

ul.info li {
  margin: 12px 0 0;
  padding: 0;
  float: left;
  display: block;
  width: 600px;
  background-position: 0 .5em;
  list-style-type: square;
}

ul.skills {
  margin: -6px 0 0 24px;
  padding: 0;
  float: right;
  width: 530px;
  background: none;
  list-style: square;
}

ul.skills li {
  margin: 6px 0 0;
  padding: 0;
  float: left;
  width: 176px;
  background-position: 0 .5em;
}

img.portrait {
  width: 108px;
  height: 164px;
  padding: 10px;
  float: left;
}

.self {
  float: left;
  width: 480px;
  margin-left: 38px;
}

.info {
  float: left;
  padding-top: 11px;
  margin-bottom: 15px;
  font-size: .875em;
}

.info.left {
  width: 276px;
  margin-left: 32px;
}

.info.right {
  width: 272px;
  margin-left: 10px;
}

.info ul {
  padding: 6px 0 0;
  margin: 0;
}

.info ul li.ad {
  background-image: url('images/icn-ad.gif');
  height: auto;
  margin-bottom: 4px;
}

.info ul li.mail {
  background-image: url('images/icn-mail.gif');
}

.info ul li.tel {
  background-image: url('images/icn-tel.gif');
}

.info ul li.web {
  background-image: url('images/icn-web.gif');
}

.info.left ul li {
  padding-left: 26px;
}

.info ul li {
  background-repeat: no-repeat;
  background-position: 0 .1em;
  height: 25px;
  display: block;
  margin-top: -2px;
}

.i18n, .social {
  display: none;
}

article.content {
  clear: both;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 16px 0 0;
}

article.content nav, article.content aside {
  font-size: 11pt;
  clear: both;
  color: black;
  float: left;
  padding: 0;
  text-align: right;
}

h2, article.content nav, article.content aside {
  width: 260px;
}

blockquote {
  border-left: 3px solid #7b90b5;
  padding-left: 8px;
  margin-top: 20px;
  width: 585px;
  margin-left: 40px;
  float: right;
}

pre {
  width: 500px;
  margin-left: 40px;
  float: right;
}

abbr, acronym {
  border-bottom: 1px dashed #7b90b5;
}

strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

big {
  font-size: 1.2em;
}

#message {
  display: none;
}
